html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

a{
    color: inherit;
}

@import './layout.scss';
@import './table.scss';
@import './controls.scss';
@import './refresh.scss';
@import './symbol-add.scss';
