
@import '~breakpoint-sass/stylesheets/breakpoint';

.flex-container {
  $md: 450px;

  display: flex;
  flex-direction: column;

  @include breakpoint($md) {
    display: flex;
    flex-direction: row;
  }

  .flex-content {
    display: block;
    padding: 0.5rem;
    height: 100%;
    @include breakpoint($md) {
      width: 100%;
    }
  
    .section{
      .section-title {
        text-align: left;
        font-weight: bold;
        padding: 10px 0;
      }
    }

  }
}
