
@import '~breakpoint-sass/stylesheets/breakpoint';

.flex-container {
  $md: 545px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  @include breakpoint($md) {
    display: flex;
    flex-direction: row;
    overflow: auto;
  }

  .flex-content {
    display: block;
    padding: 0.5rem;
    overflow: hidden;
    height: 100%;

    @include breakpoint($md) {
      height: auto;
    }

    .flex-content-vertical {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }

    @include breakpoint($md) {
      width: 100%;
    }
  
    .section {
      &.section-grow {
        height: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }
      .section-title {
        text-align: left;
        font-weight: bold;
        padding: 10px 0;
        font-size: 18px;
      }
      .section-content-scrollable {
        overflow: auto;
      }
    }

  }
}
